@charset "utf-8";
.header{
	height: 70px;
	width: 86%;
	background-color: darkgreen;
	margin-top:3%; 
	margin-left:5%;
	margin-right:5%; 
	}
.grid{
	margin-left: 5%;
	height:140px;
	width:17.4%;
	background-color: darkseagreen;
	margin-top: 2%;
	margin-right: 0.5%; 
	float: left
}
.box{
	align-self: center;
	margin-left: 5%;
	height:200px;
	width:25.3%;
	background-color: darkolivegreen;
	margin-top: 2%;
	margin-right: 0.1%; 
	float: left
}

.footer{
	height: 70px;
	width:70px;
	background-color: darkgreen;
}